[2020-06-22 11:04] zaleslaw opened #15 "No option to call sparkContext() from spark variable"
Please, make visible https://spark.apache.org/docs/3.0.0/api/java/org/apache/spark/sql/SparkSession.html#sparkContext--

I need this to set logLevel, for example

[2020-06-22 11:48] #15 closed

[2020-06-22 12:00] zaleslaw opened #16 "Problem with encoding"
Hi, I've got the next error on the code example

The datasets could be downloaded here

[code]

[2020-06-22 12:15] asm0dey commented on #15
Fixed in 0.2.1

[2020-06-22 12:42] asm0dey opened #17 "Remove class NonWorkingExample"
Issue is fixed in upstream spark, so this class is no longer needed

[2020-06-22 12:42] #17 closed

[2020-06-22 14:16] asm0dey commented on #16
Thank you for reporting this!

This is due to naming of fields in data class does not correspond to field names in dataset. Error message will be improved/

[2020-06-23 11:53] zaleslaw commented on #16
@asm0dey it doesn't working yet

[2020-06-23 12:08] zaleslaw opened #20 "Add property for logLevel in withSpark clause"
I've suggest to parameter LogLevel (with ENUM {ERROR, WARN, INFO} - check correct names in Scala)
Set the default value is ERROR

Under the hood it could be realised like that: spark.sparkContext.setLogLevel("ERROR")

[2020-06-23 15:16] asm0dey opened #21 "Build fails with scala 2.12.11"

[2020-06-23 15:20] #16 closed

[2020-06-23 15:20] #20 closed

[2020-06-23 15:20] #21 closed

[2020-06-24 06:08] asm0dey opened #23 "Add travis to verify PRs auomatically"

[2020-06-24 06:29] #23 closed

[2020-06-24 06:30] asm0dey commented on #23
We have integrates JitCI checks instead which are good enough

[2020-06-29 19:53] asm0dey opened #26 "SparkSession should be available from `org.jetbrains.spark.api`"

[2020-06-29 19:53] asm0dey opened #27 "`collect()` should work on Dataset"

[2020-06-29 20:01] #26 closed

[2020-07-08 08:53] #27 closed

[2020-07-08 13:41] asm0dey opened #28 "Merge api and core into single module"
Currently api and core are separate modules which makes no sense — they can be merged into single. Scala should be compiled first and then kotlin

[2020-07-12 15:31] gschulze opened #29 "Support user-defined types when generating schema"
Currently, the schema function in ApiV1.kt does not handle user-defined types correctly. If a field has a type with a UDT registration, the corresponding UserDefinedType should be used as schema.

I've drafted an implementation at [https://github.com/gschulze/kotlin-spark-api](https://github.com/gschulze/kotlin-spark-api). However, I'm not sure whether this is the right place to do it.

[2020-07-14 21:18] asm0dey commented on #29
Thank you very much!

Could I please ask you to create minimalistic example with UDT for me to be able to test it?

[2020-07-14 21:23] asm0dey opened #31 "Add example with non-default `withSpark` parameters"

[2020-08-03 05:54] ToddSmall opened #35 "Using kotlin-spark-api interactively in a Kotlin Jupyter notebook?"
Hi,

Thank you for your work on the kotlin-spark-api. It looks very promising!

I'm trying to use the kotlin-spark-api interactively in a Kotlin Jupyter notebook. A Spark task run in a notebook cell from within a `withSpark` function works fine:

[code]

The result of `.show()` doesn't appear in the Jupyter cell, but I can see the correct output in logs in the terminal:

[code]

However, if I try

[2020-08-03 12:49] asm0dey commented on #35
Thank you very much for your report, we'll start investigating it and will keep you informed on progress!

[2020-08-03 13:51] asm0dey commented on #35
@ToddSmall could you please attach you spark notebook whch reproduces the issue?

[2020-08-03 14:10] ToddSmall commented on #35
Sure. Here it is.

Todd

[spark-api.ipynb.gz](https://github.com/JetBrains/kotlin-spark-api/files/5016441/spark-api.ipynb.gz)

[2020-08-03 17:25] ileasile commented on #35
Hello, @ToddSmall ! It seems that replacing

[code]

with

[code]

fixes the problem with exception.

You may also need to redirect scala output streams to see results
[code]

Consider using spark as library, all needed dependencies are already included:
`%use spark`

If you're not satisfied with scala 2.11, make an additional parameter and submit changes as a PR to kotlin-jupyter repo
https://git

[2020-08-03 17:31] ileasile commented on #35
Regarding `%dumpClassesForSpark`... This magic enforces kernel to save compiled classes on disk in temporary directory. Spark can't work with classes which are located in memory.

[2020-08-03 17:53] ToddSmall commented on #35
Hi @ileasile !

Thank you! Your suggestion fixes my problem. 😄

I wasn't using the `%use spark` magic because I wanted to try `kotlin-spark-api`. Perhaps we should add an additional library  descriptor to `kotlin-jupyter` that is based on `kotlin-spark-api`?

Todd

[2020-08-03 17:54] #35 closed

[2020-08-03 18:11] ileasile commented on #35
@ToddSmall yes) I've already asked @asm0dey to provide one.

[2020-08-05 03:19] ToddSmall opened #37 "No Encoder found for Double"
Hi,

I've modified the example in the [Quick Start Guide](https://github.com/JetBrains/kotlin-spark-api/blob/master/docs/quick-start-guide.md) to use the following main function:

[code]

When I execute this program with:

[code]

I get the following error:

[code]

If I replace the Doubles in the data class with Ints, then the program executes correctly, printing:

[code]

My build environment is

[2020-08-05 13:14] ToddSmall commented on #37
I just noticed that [build.gradle](https://github.com/MKhalusova/kotlin-spark-example/blob/e04f2ca204cc49272b4e6892f6efda53d949aadc/build.gradle) on https://github.com/MKhalusova/kotlin-spark-example references version 0.1.0 of `kotlin-spark-api`. However, the issue with "No Encoder found for Double" still exists when I use version 0.3.0 of `kotlin-spark-api`.

Todd

[2020-08-05 13:29] MKhalusova commented on #37
@ToddSmall Thanks for noticing! I'll update the version in the example.

[2020-08-05 15:27] asm0dey opened #38 "Bean properties are read in incorrect order"
For some classes, for example like in #37 properties can be reordered. We need to read them in correct order to be able to reconstruct entity back correctly
Currently `LonLat(1.0, 2.0)` is being reconstructed back as `LonLat(2.0, 1.0)`

[2020-08-05 17:44] #37 closed

[2020-08-05 17:44] #38 closed

[2020-08-05 18:32] ToddSmall commented on #37
Thank you!

[2020-08-05 19:39] asm0dey commented on #37
@ToddSmall Thank you for the report! Could you test please?

[2020-08-06 00:56] ToddSmall commented on #37
@asm0dey Yes, my issue is fixed. Thanks again!

Todd

[2020-08-06 21:56] wfhartford opened #41 "The withSpark helper function always specifies a master URL"
The `withSpark` helper function has a parameter `master` which defaults to `local[*]`. When submitting a JAR to run in a spark cluster, it is common to use a spark session which has no master configured. There does not seem to be a way to use the existing `withSpark` helper function without configuring a master URL.

I am very new to the spark ecosystem, if there is a better way to do what I'm try

[2020-08-07 10:44] asm0dey commented on #41
Hi @wfhartford, thank you for report! Could you please verify that specifying `--master yarn` in `spark-submit` won't override master configured in application?

[2020-08-07 10:49] asm0dey commented on #41
Also, could you please try specifing `withSpark(master = "yarn"){` in your applcation? I know, this function is not fully documented in README and I'll fix it

[2020-08-07 15:58] wfhartford commented on #41
Specifying `withSpark(master = "yarn")` caused the driver pod to wait for a long time repeating the following message:

[code]

This message was encountered by another user of the spark-on-k8s operator who resolved it by removing the master option: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/992

I have not been able to try via `spark-submit`. I'm not sure how to interact w

[2020-08-07 22:43] asm0dey commented on #41
That's interesting! So is it something you meet only with k8s operator?

[2020-08-08 01:57] wfhartford commented on #41
I don't think that omitting the master option is specific to the k8s operator, I was under the impression it was quite common. I'm really not familiar enough with spark to speak with any kind of authority on that though. I could probably specify the master as `k8s://https://172.19.0.1:443`, but that is very specific to the cluster I'm working on at the moment. It seems to me that if omitting it do

[2020-08-08 06:11] asm0dey commented on #41
Thank you for the request, I think that we can implement `withSpark` accepting builder fairly easy.

[2020-08-08 12:20] asm0dey commented on #41
@wfhartford please, try version 0.3.2

[2020-08-08 12:20] asm0dey commented on #41
Fixed by https://github.com/JetBrains/kotlin-spark-api/commit/034a0a8d3135a39479b5ae2cc3cb1a02f9097303

[2020-08-08 12:21] #41 closed

[2020-08-10 16:11] wfhartford commented on #41
Thank you, that's a great addition.

[2020-08-10 17:02] asm0dey commented on #41
Does it work for you?

[2020-08-10 17:30] wfhartford commented on #41
Yes, that's a great fix. Thank you.

[2020-09-08 14:56] Meosit opened #54 "Add more Column comparison functions"
Currently the many of the existing `Column` handy functions/operators are missing in the Kotlin API, this issue is to fulfill the gap. Here is the list of functions which can be added to the API

**Infix textual functions:**
- `infix fun Column.neq(c: Column): Column`
- `infix fun Column.geq(c: Column): Column`
- `infix fun Column.leq(c: Column): Column`
- `infix fun Column.le(c: Column): Column`

[2020-09-15 06:26] gschulze commented on #29
Hi, sorry for the late reply. I suggest waiting until both Support for Spark 2.4.x and 3.x has landed. I am happy to work on the issue once the structure has been finalized.

[2020-09-15 07:27] asm0dey commented on #29
You'll be disappointed by new structure, but I don't have any idea on how to improve it yet :(

[2020-09-15 07:39] gschulze commented on #29
I suggest using Maven profiles whenever possible to target different Spark/Scala versions. I'll try to come up with something and open a separate issue.

[2020-09-15 07:47] asm0dey commented on #29
I thought about it, but there are some troubles: most important parts (scala code and kotlin code creating encoders and so on, not extensions) are different. Also, that's not possible (IIRC) to release from different profiles at same time.

[2020-09-15 09:05] gschulze opened #59 "Scala 2.11 support"
It would be nice to have support for Scala 2.11, as the most distribution of Cloudera Hadoop (6.3.3) still uses Scala 2.11.
Moreover, [CDH 6.3.3](https://docs.cloudera.com/documentation/enterprise/6/release-notes/topics/rg_cdh_63_packaging.html#cdh_633_packaging) ships with Spark 2.4.0. Is there a specific issue that makes version 2.4.1 a hard requirement?

As far as support for both Scala 2.11 an

[2020-09-15 09:06] gschulze commented on #29
I filed a new ticket for building for specific environments, in particular Scala 2.11: https://github.com/JetBrains/kotlin-spark-api/issues/59

[2020-09-15 10:02] asm0dey commented on #59
Actually there is something in kotlin-scala integration which I wasn't able to workaround yet to suport scala 2.4.0.

Any ideas on better implementation of support for sifferent versions is very welcome! I think that current solution is ugly, but wasn't able to find better one

[2020-09-22 07:17] gschulze commented on #59
Hey!
I've come up with a solution to support building for both Scala 2.11 and Scala 2.12, see https://github.com/JetBrains/kotlin-spark-api. The main issue is that artifacts for different Scala versions must have different suffixes (_2.11 and _2.12, respectively). I solved it by having two different POM files in the same directory, pulling the appropriate dependencies. Which versions get build can

[2020-09-23 08:32] asm0dey commented on #59
@gschulze thank you for effort, but the link goes to this repository. Did you mean to give link to your fork?

[2020-09-23 08:35] asm0dey commented on #59
Generally speaking it can be solved with profiles easier: 2 profiles for Scala — 2.11 and 2.12, and 3 profiles for Spark: 2.4.0, 2.4.1 and 3.0.0. All properties can be set up by these profiles.
But trouble is releasing to maven central: we need to ship several combinations with one release and I don't understand how to do it yet.

[2020-09-23 08:51] gschulze commented on #59
Sorry, correct location is here: https://github.com/gschulze/kotlin-spark-api/tree/feature/target-profiles
The different POM files are used for building the project with different artifact IDs. The compiled artifacts are stored in different output locations (target/scala-2.11 and target/scala-2.12). I think this way releasing two different artifacts from the same source should work.

[2020-09-25 10:15] gschulze commented on #59
I finalized the project structure and fixed one build error in the Scala 2.11 build. Packaging of artifacts now works fine for all Scala/Spark combinations, however, some tests are still failing:

`mvn -Pscala-2.11 -Pscala-2.12 -DskipTests clean package`

[2020-09-25 10:47] asm0dey commented on #59
@gschulze Awesome! Would you like to make a PR and let's fix test errors together?

[2020-09-25 12:11] gschulze commented on #59
Sure: https://github.com/JetBrains/kotlin-spark-api/pull/62

It seems that the test errors are caused by Spark version 2.4.0, with 2.4.1 tests are running through. Would be awesome to have Spark 2.4.0 compatibility though.

[2020-09-28 06:48] asm0dey commented on #59
Awesome! I'll look into it today

[2020-09-28 07:28] asm0dey commented on #59
Your solution is sooo beautiful :heart_eyes:, thank you for it!
Regarding tests, Y

[2020-09-28 07:52] asm0dey commented on #59
I believe part of problem is Spark 2.4.0 uses Scala 2.11 for Scala API: https://spark.apache.org/docs/2.4.0/ and 2.4.1 uses Scala 2.12 https://spark.apache.org/docs/2.4.1/

[2020-09-28 09:37] asm0dey commented on #59
@gschulze please look at #63. WDYT?

[2020-09-28 09:53] gschulze commented on #59
Ah, so 2.4.1+ needs to be compiled with Scala 2.12? The solution you suggested looks good to me!
Regarding profile activation, one issue that remains is that only one module should be activated by default if you are developing within IntelliJIDEA. This is currently problematic for the examples project, where the 2.4 and the 3.0 version are both active at the same time, but share the same source fo

[2020-09-28 11:00] asm0dey commented on #59
There is checkbox in maven tool window, which allows you to (de)activate any profiles

[2020-09-28 12:12] asm0dey commented on #59
Thank you very much for contribution!

[2020-09-28 14:36] gschulze commented on #59
You're welcome! Great to see Kotlin entering the Big Data world!

[2020-09-28 15:59] asm0dey commented on #59
Thank you for warm welcome!

[2020-09-28 15:59] #59 closed

[2020-09-28 16:00] asm0dey commented on #59
Will be released with next preview

[2020-09-29 07:54] asm0dey opened #64 "Spark 2 support for arrays of complex objects"
Currently test `should("handle arrays of generics")` is skipped on Spark 2 cause it fails.

Arrays of generics may be useful when working with, for example, JSON data, where deeply nested arrays can be found.

Reproducer test: https://github.com/JetBrains/kotlin-spark-api/blob/21e4fdc4be9959782710c5185d9bf74f2dcb8998/kotlin-spark-api/2.4/src/test/kotlin/org/jetbrains/kotlinx/spark/api/ApiTest.kt#L

[2020-09-29 07:57] asm0dey opened #65 "Spark 3 support for arrayos of primitives"
Currently test `should("!handle primitive arrays")` is skipped on Spark 3 cause it fails. It shout be fixed until preview2 release

[2020-09-29 08:02] asm0dey commented on #28
Doesn't need it anymore.

[2020-09-29 08:02] #28 closed

[2020-09-29 08:03] asm0dey commented on #31
Closed via 5983f92e

[2020-09-29 08:03] #31 closed

[2020-09-29 08:05] asm0dey commented on #29
@gschulze with a couple of issues we already have working (and better!) implementation for both Spark 2.4 and Spark 3.0, so we can continue discussion on topic

[2020-09-29 23:53] lpicanco commented on #54
Can I get this one?

[2020-11-17 16:11] Jolanrensen opened #69 "Broadcasting variables"
Currently `SparkContext.broadcast(variable)` does not work because it requires the parameter `evidence$9`. The only way to make it work is using the `JavaSparkContext` which uses something called a `fakeClassTag` to provide the parameter.

I suspect it can be solved by adding this extension function to the API, although it needs to be tested of course:
[code]

[2020-11-17 18:43] Jolanrensen opened #70 "RDD support"
For now we are limited to use `JavaRDD` and using `JavaSparkContext` to have easy-to-work-with RDDs in Kotlin.
My suggestion is to provide a Kotlin wrapper (or set of extensions) for the Scala RDD class to be able to work with those as well. Converting between RDDs and Datasets can also be made accessible using this.

[2020-11-17 21:36] Jolanrensen commented on #69
Actually, probably something like `encoder<T>().clsTag()` should be used instead of the `fakeClassTag`.

[2020-11-18 13:59] Jolanrensen commented on #65
The `encoder<T>()` function also doesn't seem to support Arrays. The `schema()` function in `ApiV1.kt` only supports Iterables, Maps and Data Classes of which Arrays are neither. It's however possible to encode Arrays either by iterating over them using their iterators or using `org.apache.spark.sql.SQLImplicits` to get the encoders.

[2020-11-18 21:25] Jolanrensen commented on #69
After testing using
[code]
I found it to be working quite well using primitive types, arrays and serializable classes. Data classes don't work though. It would probably need to be converted to something serializable before being broadcast, meaning a wrapper of some sorts would be needed.

[2020-11-19 19:49] asm0dey commented on #69
@Jolanrensen thank you for the report! How do you think will it be possible for you to provide us with simple(ish) testcase to test if it works correctly? Thank you!

[2020-11-19 19:51] asm0dey commented on #70
@khud could you please look into it? I remember that you've had some support for RDDs, is it possible to incorporate your work inside our current solution?

[2020-12-01 20:36] Jolanrensen commented on #69
Added and I see it's merged, cool!

[2020-12-01 20:36] #69 closed

[2020-12-30 12:19] khud commented on #70
A couple of years ago I tried to do so. It's not so easy, because it needs a lot of boilerplate code. I believe JavaRDD works well with Kotlin:

[code]

I'm sure that some problems exist but it would be great to know what particular kind of improvements make you happy.

[2021-01-14 18:23] asm0dey commented on #70
@Jolanrensen do you have any further questions about RDD support?

[2021-01-14 18:24] asm0dey commented on #65
Primitive arrays are supported. They should be declared as `intArrayOf`. `booleanArraOf` etc.

[2021-01-14 18:24] #65 closed

[2021-02-08 11:45] Jolanrensen commented on #70
@asm0dey sorry for the late response. No, it's clear. I do think it might be a bit confusing for users to use _Java_ RDD and _Java_ SparkContext in Kotlin, but @khud is right that it would need a large amount of boilerplate code. It would be ideal if Apache would encompass Kotlin into the Spark API like they did with Java, but for now, using the Java classes together with this API is the best we'v

[2021-02-08 13:02] asm0dey commented on #70
@Jolanrensen there is an issue about it in Apache Spark's Jira: https://issues.apache.org/jira/browse/SPARK-32530
You can vote and even comment there. We're interested to be included in upstream too.

[2021-02-08 19:43] chris-is opened #73 "Row types are unsupported"
Hello, I'm trying out preview1 by refactoring some ETL code, and I get the following error when attempting to join two Dataframes (Dataset of type Row):

`Exception in thread "main" java.lang.IllegalArgumentException: org.apache.spark.sql.Row is unsupported
	at org.jetbrains.kotlinx.spark.api.ApiV1Kt.schema(ApiV1.kt:307)
	at org.jetbrains.kotlinx.spark.api.ApiV1Kt.schema(ApiV1.kt:301)
	at org.jetb

[2021-02-10 15:10] Jolanrensen opened #75 "Overload resolution ambiguity"
Since `KeyValueGroupedDataset` in Scala already has the functions
[code]
and
[code]
this has priority over the extension function provided in the api:
[code]

and thus makes writing
[code]
impossible in the code due to Overload resolution ambiguity.
Currently, the only way to use the Kotlin one is by typing:
[code]
(It's also confusing why this maps the values to `Pair`s instead of `Arity2`s... bu

[2021-02-14 17:06] Jolanrensen opened #76 "Plan for Tuples/Arity's?"
This is more of a future proofing question than an actual issue, but I was wondering if there was any plan regarding the use of Tuples in the library.
On the one hand, many of Sparks functions return Scala Tuples, which work fine although could use with some operator funs for destructuring and operator overloads.
On the other hand, the library provides the Arity's (odd name but sure) data classes

[2021-02-18 17:11] Jolanrensen commented on #76
I created a lot of extension functions for Tuples in Kotlin and created a separate repo for it [here](https://github.com/Jolanrensen/ScalaTuplesInKotlin). It provides tuple destructuring, textual accessing of values, easy extending of tuples using '+' and tuple joining using '..'.
I think it would be a very welcome extension to the library, but it might also be useful as a library on its own.
Anyw

[2021-03-19 05:35] oztimpower opened #83 "spark sql functions such as to_json (Column struct<>) fail to compile"
Trying to use a simple Spark SQL function, to decompose a struct column into json, fails to compile.

Same outcome using IR compiler and legacy compiler.

[code]

Compile message
[code]

[2021-04-26 14:40] asm0dey commented on #76
Sorry for not answering for a long time, it looks like I somehow don't receive notification from github O_O
They are already implemented here: https://github.com/JetBrains/kotlin-spark-api/blob/master/kotlin-spark-api/common/src/main/kotlin/org/jetbrains/kotlinx/spark/api/VarArities.kt

You can create unnamed tuple with shortcut function `c`

[2021-04-26 14:43] asm0dey commented on #83
I hope it will be fixed with release of Kotlin 1.5 — this bug looks fixed there.

[2021-04-26 14:46] asm0dey commented on #73
Hello! Sorry for not answering for a long time, it looks like I somehow don't receive notification from github O_O

Could you please post an example code to reproduce? Do I understand correctly that you're joining to raw dataframes?
If so — I believe you should use Spark's join, not left/right/inner join and not joinWith

[2021-04-26 15:54] Jolanrensen commented on #76
Like I said here https://github.com/JetBrains/kotlin-spark-api/pull/79
the Spark API can still return Tuples (like `joinWith()`), which the Kotlin Spark API can then not encode.
Also, your project might contain Java or Scala parts in which Tuples are more common, so not being able to provide an encoder for them would make interoperability worse.

[2021-04-26 16:19] asm0dey commented on #75
Could you please provide me with reproducer? Looks like these functions are tested and there are examples of usage and they compile fine…

[2021-04-26 16:27] Jolanrensen commented on #75
It appears, there are no tests yet for these functions. I provided an example in the 3.0 test here: https://github.com/Jolanrensen/kotlin-spark-api/tree/overloadResolutionAmbiguityExample

[2021-04-26 16:30] asm0dey commented on #70
Closing it for now as won't fix due to lack of demand. We'll reopen it if the demand will grow.

[2021-04-26 16:30] #70 closed

[2021-04-26 16:34] asm0dey commented on #75
The absence of tests looks like a major bug itself! Thank you for reporting!

[2021-05-05 12:14] Jolanrensen commented on #76
@asm0dey (just making sure you still get the notification, I'm not trying to be pushy, I promise :P)

[2021-05-05 15:55] asm0dey commented on #76
Getting it!

[2021-05-05 16:10] asm0dey commented on #76
@Jolanrensen question about `joinWith`: currently we have wrappers for all the types of joins: inner, left, right, which are supported by `joinWith`. It's supposed to call those methods. Do you think it's not enough?

[2021-05-05 17:49] Jolanrensen commented on #76
@asm0dey Oh right, I see, I think for that specific example it's alright then...
I am however wondering why you chose to convert the value to a Pair instead of an Arity, as that then attempts to be the replacement of Scala's Tuples (this also applies to `reduceGroups`). Plus, doesn't converting back and forth from Arity/Pair to Scala Tuples in the API create unnecessary / unexpected overhead?

Ano

[2021-05-05 18:56] asm0dey commented on #76
Well, I've selected Pair/Triple because they're idiomatic for Kotlin. And I hope that single conversion from Tuple2 to Pair costs almost nothing because of escape analysis. Do I have a place where I'm creating Scala tuple from Pair?

But yes, select creates tuples, it's true and it means you're right and we should support them in both Spark 2 and 3.

How do you think, what is the best way to imple

[2021-05-06 06:45] oztimpower commented on #83
Updated to 1.5 and get the same build failure.

[2021-05-06 10:12] Jolanrensen commented on #76
@asm0dey
I see... However, Spark functions are often required to be as fast as possible so they can be scaled up. If the cost of conversion to Pairs is negligible then it's okay, but this might need some speed testing to make sure :).

I don't think you're converting to Scala Tuples at the moment, so that's good (so not back "and forth", haha).

 My idea was to at least support Tuple encoding, whi

[2021-05-06 10:59] asm0dey commented on #83
No, I should recompile kotlin-spark I believe, but this fix was postponed to 1.5.20 :(
Upstream issue to track: https://youtrack.jetbrains.com/issue/KT-38325

[2021-05-06 11:21] asm0dey commented on #76
@Jolanrensen

It looks like we should call Scala reflection for Product classes and obtain schema there. For example this method https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala#L712 should work with Tuples perfectly.

Would you like to try this approach?

[2021-05-06 12:40] Jolanrensen commented on #76
@asm0dey I can give it a try perhaps!
I see this file is also mirrored as KotlinReflection.scala in the Scala part of the API. Can we also use this?

[2021-05-07 12:40] Jolanrensen commented on #76
@asm0dey
Tuple encoding seems to work using my pull request similar to how data classes are encoded. You can give it a look if you like :).

But what do you think about the pair/triple/arity/tuple situation?

[2021-05-07 13:27] asm0dey commented on #76
@Jolanrensen
PR works, but Pair of Tuples won't work, right? Looks like it should be addressed.
Speaking about Kotlin vs Scala tuples I tend to say that users generally should choose Kotlin-style tuples because they're idiomatic and easier to read for someone with more Kotlin experience.

Also, TBH, I would not recommend using anything higher than Arity5 ever because it's completely unclear what i

[2021-05-07 13:56] asm0dey commented on #76
WOW, you'v solved it already!

[2021-05-07 16:34] Jolanrensen commented on #76
@asm0dey Yess Datasets of data classes of tuples of pairs (also data classes) of data classes all work fine in theory :).

Only stuff like `Dataset<List<TupleX>>` doesn't work, but this is the same for `Dataset<List<SomeDataClass>>`, so I thought it was fine as it works as well as encoding data classes. I might create an issue for this, although I'm not sure if many people would actually use somet

[2021-05-07 19:37] asm0dey commented on #76
Sounds like a bug to me and definitely should be created and fixed

Abslutely!

How is that at all possible? I mean… how does this anonymous object breaks scope limits?

[2021-05-08 00:11] Jolanrensen commented on #76
@asm0dey Haha, well it's part of the Kotlin language I believe. Something like

[code]
also works, since the compiler knows `something` contains the property `a`. `something` shows up with an "unspecified type" and this is exactly how it is returned from the `map {}` function as well. If you annotate `something` with any type at all (like `Any`) then `something.a` won't work anymore because `.a` i

[2021-05-08 07:30] asm0dey commented on #76
In this case — yes. But the definition inside lambda should not work this way as `it` can't be seen outside its lambda. But I get your point — maybe it's the whole new visible "synthetic" class every time. It still looks buggy to me, TBH.

And regarding proper support for anonymous objects: I don't know how this may be implemented. Empty `show` gives us a hint that maybe it works when you're runni

[2021-05-08 12:13] Jolanrensen opened #85 "Dataset.select() support"
This is something that still needs to be added to the kotlin spark api. The result must be mapped to pairs, similar to some of the other functions in the API.

If I have the time and motivation, I'll add it myself, otherwise anyone can feel free to add support if they need it :)

[2021-05-08 12:22] Jolanrensen opened #86 "Datasets of lists of data classes / tuples don't work"
While support for data classes in arrays works fine:
[code]

This doesn't work
[code]
The exception is:
[code]
I suspect this is because the encoding for lists in the `schema()` function of the API misses a recursive call on its subtypes somehow. Needs to be investigated though, as it would also fix Datasets of lists of Tuples I think.

[2021-05-08 19:07] asm0dey commented on #76
It means that hypothetically we can deserialize it using reflection, but it is definitely not the task to be implemented in the foreseeable future.

If you think this should be implemented — please create a separate issue here.

[2021-05-08 21:57] Jolanrensen commented on #76
Yeah, I think you're right, that would be a lot of work if it is at all possible...

[2021-05-17 21:49] Jolanrensen commented on #85
So I tried one `select()` function, but I'm again hitting the "Extension is shadowed by a member" message, just as here https://github.com/JetBrains/kotlin-spark-api/issues/75... This means we have to change the name if we want to be able to convert the result to Pairs, Triples or Arity's, otherwise the user won't be able to find the function in the API.

@asm0dey

[2021-05-17 21:51] asm0dey commented on #85
Looks like you're right, we should definitely add it

[2021-05-18 07:04] asm0dey commented on #85
What do you think, maybe we need something like `selectTyped`?

[2021-05-18 10:47] Jolanrensen commented on #85
@asm0dey yeah, that would work, but we shouldn't deviate too much from the Spark API in Java and Scala right? Plus, eventually, Spark might get actual Kotlin support which would mean that the problem goes away. So maybe it would be okay if we annotate it with a warning?
In my personal project I just put a `K` behind these functions, to indicate it's Kotlin only and temporary, but that doesn't read

[2021-05-18 15:17] Jolanrensen commented on #85
@asm0dey How about `selectAsPair()`, `selectAsTriple()` and `selectAsArity()`?

[2021-05-18 15:21] asm0dey commented on #85
TBH I don't like this names. There is one method in Scala API and I would prefer to keep one method in Kotlin API too, just overloaded

[2021-05-18 15:40] Jolanrensen commented on #85
@asm0dey Makes sense, but it does give clarity what type of dataset is returned as in Scala and Java it usually returns Tuples and we want to change it to Pairs/Triple/Arity's for Kotlin. Plus, the user sometimes might prefer an Arity3 sometimes and a Triple other times.

[2021-05-18 16:46] asm0dey commented on #85
So in the case of Tuple2, it will return Pair, in case of Tuple3 — Triple, and in all other cases Arity :)

This way it will be at the same time ±idiomatical and simple :)

[2021-05-20 20:50] Jolanrensen commented on #64
Encoding something like `Pair<IntArray, Int>` also seems to fail on 2.4. It seems to not be able to handle complex objects with arrays as well.

[2021-05-20 21:07] Jolanrensen commented on #85
@asm0dey I created a pull request: https://github.com/JetBrains/kotlin-spark-api/pull/88

[2021-05-23 19:08] Jolanrensen commented on #86
So, I've narrowed down the issue to the `deserializerFor()` function where `predefinedDt` seems to be `None` where this isn't the case for `serializerFor()` while trying to find a serializer for a `data class`. Now I need to trace back how this method is called and where it differs from `serializerFor()`...

[2021-05-23 19:54] Jolanrensen commented on #86
Supplied the pull request: https://github.com/JetBrains/kotlin-spark-api/pull/89 :)
It was literally one `.dt` too much somewhere in the 1100+ lines of code haha.

[2021-05-23 19:59] asm0dey commented on #86
So, where I can send a beer?

[2021-05-23 20:00] asm0dey commented on #86
But yes, this was the hell to write this code: it's barely debuggable and understandable. And I don't have any idea on how to do it better

[2021-05-23 20:02] #86 closed

[2021-05-23 20:07] Jolanrensen commented on #86
@asm0dey
Hahaha, well I do have a Paypal somewhere :P, but a mention on the next blog would mean much more to me personally :).

But you're right! I think it's partly because of Scala. It's really easy to write difficult code in it (from what I have seen, that is. Scala is still very new for me). That's why I think the Spark API for Kotlin is such a good idea, because Kotlin invites devs to code b

[2021-05-23 20:12] asm0dey commented on #86
Currently, the plan is to release version 1.0 after Kotlin 1.5.20 release because a couple of things is fixed there:

1. In 1.5.0, lambda serialization is broken and requires an additional, potentially dangerous compiler flag to WA
2. In 1.5.20, interop with Scala may be improved, which will allow upgrading Scala to the latest minor

Thank you very much for your effort; you will be most definitely

[2021-05-23 20:37] Jolanrensen commented on #86
@asm0dey I noticed the lambda serialization as well in my own project! Glad to hear it's being solved.

I'm curious, how will the interop be improved?

[2021-05-23 21:37] asm0dey commented on #86
@Jolanrensen it looks like you need to set up a free SSL certificate at https://www.jolanrensen.nl/ ;)

[2021-05-24 00:16] Jolanrensen commented on #86
@asm0dey my website is TLS secured right? It shows up as secure in Chrome for me.

[2021-05-24 07:30] asm0dey commented on #86
Yes, fixed now. Yesterday Firefox told me, that it's not secured.

[2021-05-25 17:43] #54 closed

[2021-05-25 21:25] Jolanrensen commented on #76
@asm0dey So as long as you only use these anonymous objects as intermediate step, they seem to work fine. You just cannot collect a dataset with an anonymous type (which sorta makes sense). You can even broadcast them (if they implement Serializable)!

[2021-05-26 05:53] asm0dey commented on #76
Oh I believe it needs a proper testing on real cluster just to be sure. Sounds extremely dangerous to me TBH

[2021-05-26 11:15] Jolanrensen commented on #76
@asm0dey I agree!

[2021-05-29 07:29] #85 closed

[2021-06-01 16:35] piiertho opened #90 "`kotlin.jvm.internal.Reflection.typeOf(Ljava/lang/Class;)Lkotlin/reflect/KType;` not found"
Hello !
I tried to run a spark job following [this tutorial](https://github.com/JetBrains/kotlin-spark-api/wiki/Quick-Start-Guide).
Then I build a shadow jar, send it to `HDFS`, and ask livy to start my job.
When application starts, it says `typeOf` method is not found:
[code]

It seems it cannot find kotlin stdlib classes.

Here is gradle build script:
[code]

And the dummy spark job I try to run

[2021-06-02 12:47] Jolanrensen commented on #75
@asm0dey
I think currently the only solution (apart from Spark implementing first party Kotlin support or we finding new names for `reduce`, `mapValues` etc.) would be a Kotlin wrapper for these.
Something like:
[code]
solves the issue, but it would require a large overhaul of the entire API, plus it might add some extra complexity for the users.
(Not sure if I mentioned it before, but `Dataset.re

[2021-06-02 12:57] Jolanrensen commented on #90
This sounds like something that a Kotlin version bump might solve on our side. The planning is to release an updated version of the API when Kotlin 1.5.20 is released. In the meantime you might be able to install the main branch into your maven local to use it in your project (that's how I'm currently using the API).

[2021-06-04 10:08] piiertho commented on #90
Hello !
Thank you for your support !
I'm trying right now to compile from master and install to my local maven.
I'm encountering issues when running API for Spark 2.4+ tests.
It cannot find some spark classes :
[code]
I don't see any specific configuration in you CI workflow :/
Do you have any idea ?

[2021-06-28 12:11] asm0dey commented on #83
Hey, @oztimpower could you provided us with reproduces, please? Scala compatibility is fixed, so we should try again, I believe :)

[2021-06-28 12:52] asm0dey commented on #90
@piiertho please try again. Now it compiles and contains the latest version of Kotlin.

[2021-07-05 22:28] ToddSmall opened #93 "nit: "kotinx" -> "kotlinx""
Hi,

I noticed that the path to the following file, and the `package` statement within the file, should have "kotinx" replaced by "kotlinx":

core/3.0/src/main/scala/org/jetbrains/kotinx/spark/extensions/KSparkExtensions.scala

You will also need to update `import org.jetbrains.kotinx.spark.extensions.KSparkExtensions` in:

kotlin-spark-api/3.0/src/main/kotlin/org/jetbrains/kotlinx/spark/api/ApiV1

[2021-07-05 23:20] Jolanrensen commented on #75
@asm0dey
I know KDataset will probably not happen, but I was bored and thought I'd give it a try, just for fun.

Here's my implementation (3.0 only, hence the errors):

https://github.com/Jolanrensen/kotlin-spark-api/tree/KDataset

And here are my thoughts:

It does provide some benefits. It can be used as a normal `Dataset` and there is an easy `toKotlin()` conversion. Every time (most time) a da

[2021-07-07 07:00] oztimpower commented on #83
@asm0dey I confirm it now compiles with `1.5.20` and the latest release, as below. It took a long time to compile however on first pass (3+ min), on further passes (and post clean) it took about 6s, Scala version takes about 12s (i.e. 50% faster with Kotlin).

[code]

`    implementation("org.jetbrains.kotlinx.spark:kotlin-spark-api-3.0:1.0.1")
`

[2021-07-07 07:00] #83 closed

[2021-07-07 07:46] asm0dey commented on #83
It is bizarre that it takes so long for the first compile, but it Is faster after clean! Looks like some non-Kotlin-related artifact.

[2021-07-09 17:01] Jolanrensen commented on #75
@asm0dey

Any idea why the `Dataset.filter {}` lambda works without resolution ambiguity but `Dataset.reduce {}` does not?
They both have a Java/Scala variant with an interface and a functional type version.
(I'm checking to see if more functions need a K-variant in https://github.com/Jolanrensen/kotlin-spark-api/tree/fixing-more-overload-res-ambiguity)

[2021-07-10 14:08] Jolanrensen opened #96 "Documentation needed"
Many of the functions in ApiV1.kt are undocumented at the moment.
We should probably copy over what the functions do from Spark itself, or maybe find an annotation that can pass through the documentation from the Spark to our API, so users get to see the docs when they're working with our API as well.

[2021-07-10 14:10] Jolanrensen commented on #75
I added reduceK in https://github.com/JetBrains/kotlin-spark-api/pull/95
We'll need to take a good look if we missed any of the functions in the API that need a K-variant. Otherwise, we could maybe close this issue for now :)

[2021-07-10 14:12] asm0dey commented on #75
No any idea! They look so similar!

[2021-07-12 06:54] nonpool opened #97 "Maven dependency version of kotlin-spark-api-3.0.0:1.01 is not match documention"
In doucmention:

3.0.0+ | 2.12 | kotlin-spark-api-3.0.0:1.0.1
-- | -- | --

but in code:
[kotlin-spark-api/3.0/pom_2.12.xml](https://github.com/JetBrains/kotlin-spark-api/blob/main/kotlin-spark-api/3.0/pom_2.12.xml)
 ` <artifactId>kotlin-spark-api-3.0</artifactId>`

in [maven.org](https://search.maven.org/search?q=g:org.jetbrains.kotlinx.spark):
https://search.maven.org/artifact/org.jetbrains.kotl

[2021-07-13 02:36] nonpool opened #98 "`ApiV1Kt.generateEncoder` method is not support enum class"
code:
[code]

result:
[code]

other info:
[code]

[2021-07-14 01:11] nonpool commented on #98
@asm0dey

[2021-07-14 09:17] asm0dey commented on #98
Wow, thank you, I'll look into this today

[2021-07-15 01:36] #98 closed

[2021-07-15 01:38] nonpool commented on #97
So we should change artifactId `kotlin-spark-api-3.0` to `kotlin-spark-api-3.0.0` or change the documentation? @asm0dey

[2021-07-15 08:55] #93 closed

[2021-07-17 12:06] Jolanrensen opened #100 "Regarding stdlib functions"
One of the things that makes Kotlin so great to work with, compared to other languages, is the extensive and declarative standard library functions.
Functions like `mapNotNull { }` and `first { a > 4 }`. To promote Kotlin for Spark, it might be helpful to bring the standard library closer to Datasets and RDD calculations.

There are multiple ways we could achieve this.
The first way is to simply c

[2021-07-17 14:53] asm0dey commented on #100
The is already `collectAsList` and I hope that this is enough. The thing is all these operations will happen on the master node, so it's actually will anyways move all data to the memory so these operations are not too different from `collectAsList`. And you always can call `collectAsList().asSequence()`, am I right?

[2021-07-17 22:20] Jolanrensen commented on #100
@asm0dey yes that's right. That's already possible, but it might be heavy, since it needs to first collect everything in memory and then run the stdlib functions on the resulting list.

However, if we would reimplement all or most stdlib functions for Datasets separately using the `map` and `filter` functions already present in Spark, it might be possible to make them more efficient.
I'll try a fe

[2021-07-19 07:04] asm0dey commented on #100
It sounds interesting, but I'm not sure if it may be implemented as Kotlin
sequences TBH

On Sun, Jul 18, 2021 at 1:20 AM Jolan Rensen ***@***.***>
wrote:

[2021-07-19 16:37] Jolanrensen commented on #100
@asm0dey Yeah you're right. It's somewhere in between. However, for some functions, I'm not sure how efficient they will be. For instance, `first { it.a > 0 }`. If you iterate over the entire Dataset all will be loaded into memory, so currently I implemented is as `filter { it.a > 0 }.first()`.

[2021-07-20 03:39] nonpool commented on #97
@asm0dey

[2021-07-20 07:23] asm0dey commented on #97
Thank you! Fixed :)

[2021-07-20 07:23] #97 closed

[2021-07-20 07:36] asm0dey commented on #100
Yes, in some cases it could really make sense to implement such wrappers!

[2021-07-20 07:37] asm0dey commented on #76
Closing for now, OK?

[2021-07-20 07:45] asm0dey commented on #73
Closing it as stale for now. Feel free to reopen.

[2021-07-20 07:45] #73 closed

[2021-07-20 07:46] #75 closed

[2021-07-20 07:46] asm0dey commented on #90
Closing it as stale for now, feel free to reopen

[2021-07-20 07:46] #90 closed

[2021-07-20 11:51] Jolanrensen commented on #76
@asm0dey sure!

[2021-07-20 12:16] #76 closed

[2021-07-20 20:50] Jolanrensen commented on #100
@asm0dey
What should I do? In many cases I have the option to go a spark-only route or convert it to an iterable first. In almost all cases, the spark-only route is slower (up to 10 times), but the iterable route takes more memory. Which should I pick?

For example:

[code]
vs
[code]

[2021-07-20 21:19] asm0dey commented on #100
Both of course :)
There is no right solution, one should choose wisely and with all possible information available.  So it may be like `datasetContains` vs `iterableContains`, I think.

[2021-07-21 12:14] Jolanrensen commented on #100
@asm0dey Alright, but one needs to be the default, because it's an operator function in this case :)

[2021-07-21 13:14] asm0dey commented on #100
I would go with no-OOMing implementation as default :)

[2021-07-21 13:44] Jolanrensen commented on #100
@asm0dey I agree!

Is there an annotation that can give tips to users aside from `@Deprecated`?
The standard library uses it for instance when you type `listOf(1, 2, 3).filter { it > 1 }.first()`, advising the user to replace it with `listOf(1, 2, 3).first { it > 1 }` for speed and readability.

[2021-07-21 13:47] asm0dey commented on #100
ReplaceWith IIRC, but it's barely documented :(

[2021-07-21 13:48] asm0dey commented on #100
But what you're saying is inspection, not annotation in't it?

[2021-07-21 13:49] Jolanrensen commented on #100
@asm0dey Yes I think you're right... Inspections need an IntelliJ plugin, don't they?

[2021-07-21 13:59] asm0dey commented on #100
Hypothetically they may be user-provided, but we can't provide them from inside library.

[2021-07-21 14:07] Jolanrensen commented on #100
@asm0dey
I found this indeed: https://www.jetbrains.com/help/idea/creating-custom-inspections.html

But it's also possible to make a small plugin https://plugins.jetbrains.com/docs/intellij/code-inspections.html
Might also be handy to point users to `reduceK {}` from `reduce {}` etc. I'll see how easy it would be to use something like that.

[2021-07-26 20:55] Jolanrensen commented on #100
![image](https://user-images.githubusercontent.com/17594275/127057568-185a94a3-c0ed-4998-9fa8-af6a1be8d217.png)
This is actually quite interesting. It's a bit hard due to lack of documentation, but by using samples from SimplifiableCallInspection.kt, for example, I do manage to create simple hints for users.

I'll probably first finish the stdlib functions itself and afterward look at the plugin a

[2021-07-26 21:17] asm0dey commented on #100
Impressive work!

On Mon, Jul 26, 2021 at 11:55 PM Jolan Rensen ***@***.***>
wrote:

[2021-08-16 11:12] jean-helsinki opened #103 "Invalid encoder schema generation for data classes with nullable fields"
I found incorrect case in schema generator with data class nullable fields:

[code]
gives: `StructType(StructField(optionList,ArrayType(IntegerType,false),false))`

[2021-08-21 11:38] nonpool opened #104 "Hope to complete UDFRegister functions"
I think this  [pr](https://github.com/JetBrains/kotlin-spark-api/pull/67) has already completed half of the adaptation, only hack `RowEncoder` can be completed.
At present, this pr has not been updated for a long time.I very much hope to complete the rest of the adaptation. What way should i choose? create a new pr or  pull the `FelixEngl:UDFRegister` branch to continue to complete?

[2021-08-21 11:39] nonpool commented on #104
@asm0dey @FelixEngl

[2021-08-21 11:49] asm0dey commented on #104
@nonpool definitely new PR will be much better because the original one is pretty much abandoned AKAICS

[2021-08-21 11:51] asm0dey commented on #103
@jean-helsinki thank you for the report. I will look into it soon! How much does it disrupt your workflow?

[2021-08-21 11:56] FelixEngl commented on #104
Yes, at the moment i don't have the time to work on that pull request. (My Task with Spark is [temporarily] suspended)
If you need any help you can contact me.

[2021-08-21 12:34] nonpool commented on #103
@asm0dey i will fix this later

[2021-08-22 09:10] jean-helsinki commented on #103
No, is non-block for me - i try to rewrite existing workflow from pyspark to native jvm stack. And kotlin-spark looks very friendly and perspective, but still buggy.
Encoders and full udf/udaf support is very critical part for usage in production.
Maybe i can help with tests and some cases, that i find in my discovery?
I'm newbie in kotlin/scala, but i want to help.

[2021-08-22 19:26] asm0dey commented on #103
This concrete issue is not connected to UDF/UDAF, right? It should be relatively simple to solve, I think, but I'm not sure if it really changes something

[2021-08-23 01:35] nonpool commented on #103
This case is not connected to UDF/UDAF. I think `jean-helsinki` is the same as mine: Want to make this project better.

[2021-08-23 09:00] jean-helsinki commented on #103
Of course his issue not affect udf/udaf's, i push new issues later.

[2021-08-23 12:24] asm0dey commented on #103
Absolutely, and thank you very much for your help!

[2021-08-23 16:40] #103 closed

[2021-08-28 07:53] asm0dey opened #107 "Spark 3 fails to work with lists of maps or lists"

[2021-08-28 07:54] #107 closed

[2021-09-12 19:56] srachmiletter opened #108 "Groups documentation fix"
The groups example (line 201, README.md) currently links to an editable version not accessible by most users - link simply needs to be changed to `https://github.com/JetBrains/kotlin-spark-api/blob/main/examples/src/main/kotlin/org/jetbrains/kotlinx/spark/examples/Group.kt`

[2021-09-12 20:03] #108 closed

[2021-09-16 01:19] #104 closed

[2021-10-22 18:52] yogurtearl opened #110 "Update "incubator" badge on the README to be "official""
Now that this is 1.0+, should update the  "incubator" badge on the README to be "official"

[2021-11-01 00:06] mlin opened #111 "generateEncoder() fails for data class with ByteArray field"
I have a data class containing a ByteArray blob field. When I try to work with a dataset of these I get (kotlin-spark-api v1.02, spark v3.1.2)

[code]

Artificial repro is merely

[code]

[2021-11-05 16:53] Jolanrensen opened #112 "Feat: Some more key/value dataset functions"
I don't have time to implement and write tests currently, but I thought these would be useful to have as well:

[code]

Feel free to make a pull request for this if you want it too.

[2021-11-19 06:39] mlin commented on #111
Seems like this is the offending cast

https://github.com/JetBrains/kotlin-spark-api/blob/70673efbebd56033425f37bb0d63063509dd96c1/core/3.0/src/main/scala/org/apache/spark/sql/KotlinReflection.scala#L610

where `input.dataType : [BinaryType](https://spark.apache.org/docs/latest/api/java/org/apache/spark/sql/types/BinaryType.html)` is not an `ObjectType` (but a sibling inheriting from `DataType`).

[2022-01-06 20:45] chriskryon opened #114 "SparkSession.builder() not working"
Hi, I'm trying to use the library, I put the dependency on the gradle.

The import worked, but the **Creating a SparkSession in Kotlin implementation** doesn't work, it gives an error in the builder, did I do something wrong?

![image](https://user-images.githubusercontent.com/42280549/148448978-981e6855-ae0c-477f-b940-caea4bab34e9.png)
![image](https://user-images.githubusercontent.com/42280549/1

[2022-01-12 08:28] hawkaa opened #115 "Spark 3.2.x support"
Hi there,

Thank you for a great project!

I wonder if there are any plans to support Spark 3.2.x?

Best regards,
Håkon

[2022-01-14 16:59] Jolanrensen commented on #115
@asm0dey

[2022-01-14 17:56] Jolanrensen commented on #115
https://github.com/JetBrains/kotlin-spark-api/pull/116

[2022-01-14 18:08] Jolanrensen commented on #115
https://github.com/JetBrains/kotlin-spark-api/pull/117

[2022-01-20 07:21] asm0dey commented on #115
Fixed in 1.0.3

[2022-01-20 07:22] #115 closed

[2022-01-30 15:35] christopherfrieler opened #120 "Default value SparkHelper overrides config for spark.master"
Currently `org.jetbrains.kotlinx.spark.api.withSpark(props, master, appName, logLevel, func)` provides a default value for the parameter `master`. This overrides the value from the external spark config provided with the spark-submit command.

In my case, I'm running Spark on yarn, so I'm having a submit-command like this `./spark-submit --master yarn ...`. But when I start the SparkSession in my

[2022-02-10 17:45] devictr opened #121 "Questions about project roadmap and adoption"
Hi folks,

First of all, thank you for all the work you've done to create this Kotlin Spark API.
My company is evaluating using `kotlin-spark-api` for our Spark pipelines. As you know, when evaluating a new library, we need to ask ourselves if it is being actively maintained and assess any risks of becoming too dependent on it.
Thus, please allow me to ask the following questions:

1. What are the

[2022-02-14 14:27] Jolanrensen opened #122 "Spark Streaming"
https://spark.apache.org/docs/latest/streaming-programming-guide.html

Would be useful to look into Spark streaming, to make sure the encoding of Kotlin Data classes etc also works in the streaming context.

[2022-02-14 17:17] Jolanrensen opened #123 "Reorganize API"
ApiV1.kt is getting too large. Functions should be grouped per file based on functionality.

[2022-02-15 10:53] Jolanrensen commented on #96
Working on it here: https://github.com/Jolanrensen/kotlin-spark-api/tree/more-documentation

[2022-02-15 12:23] Jolanrensen opened #125 "For the future: Remove KSparkSession using new context()"
https://github.com/Kotlin/KEEP/blob/master/proposals/context-receivers.md

Context receivers will allow functions like
[code]
to function without needing a separate `KSparkSession`.

[2022-02-15 19:43] Jolanrensen commented on #125
@asm0dey Pretty interesting idea indeed!
I got curious, so I removed KSparkSession using the new context receivers and while IntelliJ does not seem to agree, it does work!
You can have a look yourself and experiment if you're curious on my branch https://github.com/Jolanrensen/kotlin-spark-api/tree/1.6.20-M1

[2022-02-15 19:53] Jolanrensen commented on #114
Hi there!
Do you still have this issue?
We also support Spark 3.2 now, if you're interested: kotlin-spark-api-3.2:1.0.3

[2022-02-15 20:07] Jolanrensen commented on #121
Hi there!

I recently joined Jetbrains to help with the Spark API specifically. This means it is now definitely actively maintained :).
In the short term, we are looking at streamlining the project so that releasing the API for the latest couple of Spark versions, as well as Scala versions, can be done quicker and more easily. It's namely a bit difficult at the moment.
In the long term there are a

[2022-02-15 20:26] Jolanrensen commented on #120
Thanks for letting us know!
How do you suggest we set the default value?
Also, maybe @asm0dey has an idea?

[2022-02-16 08:38] asm0dey commented on #120
@christopherfrieler thanks for the idea! @Jolanrensen it looks like Christopher provided us with complete implementation, we should just change the default value :)

[2022-02-16 10:49] Jolanrensen commented on #120
Sure! Just wanted to check whether this is the best way to go, since they did call it a "workaround" and "not nice", haha. But creating a new `SparkConfig()` does seem the best way to access system/jvm variables.

[2022-02-16 12:13] devictr commented on #121
Hi @Jolanrensen

Congrats on the new gig!
That is great to hear. Thank you for all those precisions

[2022-02-16 12:14] #121 closed

[2022-02-17 12:50] Jolanrensen commented on #120
Added!

[2022-02-17 12:51] #110 closed

[2022-02-18 19:05] Jolanrensen opened #131 "Add Spark 3.2 encoders"
such as duration, period

[2022-02-28 12:54] #131 closed

[2022-02-28 12:54] #96 closed

[2022-02-28 14:17] Jolanrensen opened #135 "Add easy conversion with TupleX and ArityX"
Add easy conversion with TupleX and ArityX. Maybe also add Pair and Triple conversions. There are still some functions that produce tuples such as JavaPairRDD etc.

[2022-03-09 11:51] Jolanrensen commented on #135
done in pr

[2022-03-09 11:51] #135 closed

[2022-03-09 11:52] Jolanrensen commented on #123
done in pr

[2022-03-09 11:52] #123 closed

[2022-03-09 11:54] Jolanrensen commented on #111
We fixed the binarytype support in the https://github.com/JetBrains/kotlin-spark-api/pull/134 PR. It should be working fine now :)
The next release will contain the fix, but until then you can try to see if it works for you on the https://github.com/JetBrains/kotlin-spark-api/tree/spark-3.2 branch

[2022-03-09 20:28] mlin commented on #111
Thanks, that's good news! I'll give it a shot when I'm able.

[2022-03-10 14:40] devictr opened #139 "Release 1.0.3 on Maven Central"
Hi @Jolanrensen

I was about to try out this lib with Spark 3.2.x, but it doesn't seem like version `1.0.3` is released on Maven Central. Would it be possible to release it there?

Thanks!

[2022-03-10 14:47] Jolanrensen commented on #139
Definitely! @asm0dey? ;)

Until then you can also download the jar from the releases manually

[2022-03-10 14:49] devictr commented on #139
Thank you!

[2022-03-14 13:51] #112 closed

[2022-03-16 11:02] #139 closed

[2022-03-17 16:44] devictr opened #141 "Data class serialization fails with `v1.0.3` and Spark `3.2.0`"
Hello,

It seems like there is an issue with the above-mentioned versions of Spark and `kotlin-spark-api`.
When trying to convert a `Dataset<Row>` to `Dataset<MyDataClass>` using the [as](https://github.com/JetBrains/kotlin-spark-api/blob/kotlin-spark-3.2-1.0.3/kotlin-spark-api/3.2/src/main/kotlin/org/jetbrains/kotlinx/spark/api/ApiV1.kt#L301) method, I get the following error
[code]

When using t

[2022-03-18 10:43] vegarsti opened #142 "Documentation on how to use UDFs"
Thanks for maintaining this project!

I would like to use the UDF functionality provided here. I'm, however, struggling with understanding how to use it. I think the `UDFWrapper`s are what I want.

Is there some code somewhere that uses these? I'd be happy to contribute with a PR with for example some tests, when I figure out how to use them.

[2022-03-21 14:32] Jolanrensen commented on #141
NoSuchMethodError sounds to me like a Scala/Spark version mismatch within your (or our) project. Especially the Scala version must match exactly since we use Scala reflection functions.
We are working hard on the next (big) release so it's a bit difficult to release a "quick fix" atm. Do let me know if there's something "special" about your data class that we don't yet cover in a test case if it's

[2022-03-21 14:34] Jolanrensen commented on #142
An example inside https://github.com/JetBrains/kotlin-spark-api/tree/spark-3.2/examples/src/main/kotlin/org/jetbrains/kotlinx/spark/examples would still be valuable I think :) Thanks for letting us know!

[2022-03-23 17:28] Jolanrensen opened #143 "Define udf using by-delegate?"
UDFs are currently defined for example like:
[code]
They can then be invoked from SQL or directly in code like: `stringArrayMerger(testData.col("value"))`.

Obviously the thing I notice is that `stringArrayMerger` is typed twice. This can of course be rewritten using delegates :)

This is possible
[code]
when adding something like:
[code]

and for each UDF register function:
[code]

Just a thought

[2022-04-01 09:01] mlin commented on #141
FWIW I got the same stack trace upon upgrading from v1.0.2 to v1.0.3 (and spark from v3.1.x to v3.2.1). I'm not using `as`, but am doing various groupByKey & map operations starting from a `Dataset<String>`. Naively reading the stack trace, it seems to be trouble finding a particular method signature in the Catalyst API?

I've not yet dug in further but will try to when I have a chance.

[2022-04-10 02:53] Icyrockton opened #145 "SparkSession ClassNotFoundException gradle kts"
Hi! I am new to kotlin spark , also new to spark   , playing around with sample project [this](https://github.com/MKhalusova/kotlin-spark-example)
I get error
[code]

also I also tried in my own project using the latest version and kotlin 1.6.2 , which get the same error , my gradle kts file
[code]

[2022-04-10 04:17] Icyrockton commented on #145
fixed by
change `compileOnly` to `implementation`   the documentation should update  😂
[code]

[2022-04-10 04:21] #145 closed

[2022-04-13 08:34] Icyrockton opened #146 "spark mllib ALS.Rating get ClassCastException error"
reproduce by step or clone https://github.com/Icyrockton/spark_test
in build.gradle.kts
[code]
[code]

error info
[code]

[2022-04-13 11:37] Jolanrensen commented on #146
Thanks for letting us know! It seems I didn't realize that Scala case classes are also considered Products and thus have names different than _1, _2 etc. A fix is on the way :)

[2022-04-14 01:25] Pihanya opened #148 "JavaCoverters for Scala data types can be replaced with CollectionConverters"
https://github.com/JetBrains/kotlin-spark-api/blob/d62e3afe115c943bacd386fba28d0a13af660582/kotlin-spark-api/3.2/src/main/kotlin/org/jetbrains/kotlinx/spark/api/Conversions.kt#L28-L167

`JavaConverters` is partially deprecated in Scala 2.13.8:
https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/JavaConverters.scala#L78-L139

... so I suggest using methods from `scala.jdk.javaap

[2022-04-14 02:07] Pihanya opened #149 "Extension function forEachBatch can be added for DataStreamWriter"
I found it difficult to call [`DataStreamWriter.foreachBatch`](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala#L492-L494) because source code won't compile until explicit construction of `VoidFunction2` is added.

So I suggest adding such an extension for `DataStreamWriter`:
[code]

[2022-04-14 10:25] Jolanrensen commented on #149
Good one! will add it along with other streaming functinos next update. Are there any more you found that benefit from having these kinds of extensions?

[2022-04-14 15:49] Pihanya commented on #149
Jolan, thank you for doing great work in `kotlin-spark-api`!

The only reason I have come up with issues is that I saw you revived the process of enhancement of `kotlin-spark-api`.

I had to fork `kotlin-spark-api` to monkey patch encoders part of `kotlin-spark-api`. See details in the spoiler below.

<details>

<summary>Monkey patch description</summary>

**Original code:**
[Encoding.kt#L131-L147

[2022-04-19 11:12] Jolanrensen commented on #149
For the monkey patch, it looks like you found a case where there is an encoder in ENCODERS but `isSupportedByKotlinClassEncoder` returns true so it isn't used. Would be nice to know for which type this is the case though haha.

Enum support (also in data classes) was added here https://github.com/JetBrains/kotlin-spark-api/pull/99.

I just tested and circular dependencies also don't work in Scala:

[2022-04-19 14:37] Jolanrensen opened #150 "Encoding for Scala Option and Optional"
While `Dataset<Option<*>>` works, whereever a schema needs to be created, such as `Dataset<Pair<*, Option<*>>`, then it fails.
`Option` is a `Product` but is handled as if it doesn't exist in Scala. Meaning `Option<T>` is encoded as `T`.

This needs to be looked into

[2022-04-19 14:47] Jolanrensen commented on #146
Merged and will be in next update :)

[2022-04-19 14:47] #146 closed

[2022-04-19 23:40] Pihanya commented on #149
I guess we will start migrating our product to _JetBrains/kotlin-spark-api_ in a few months. I will let you know if the corner case will be found out. Sorry that I am not able to share it now.

Our solution integrates with another app using Kafka and persists all the changes to a data warehouse. From Kafka in a single topic, we get updates of tree structures that resemble folder structures in a fi

[2022-04-20 11:06] Jolanrensen commented on #149
Your specific example doesn't work because `List<CatalogueNode>` cannot be encoded. It's an interface which can have functions, values etc. so Spark does not know how to encode that. Only a collection of actual data classes would be allowed. So like
[code]
But then again, the circular reference appears of course.
Unfortunately, I don't think we have a solution for that. Especially since Spark itse

[2022-04-20 12:54] Jolanrensen opened #151 "JavaRDD Key/Value functions"
Add all functions from `JavaPairRDD` as extensions to `JavaRDD<Tuple2<*, *>>`, similar to what is done to `JavaDStream<Tuple2<K, V>>`.

Gives a more Kotlinesque (and Scala-like) API

[2022-05-06 10:19] #122 closed, assigned to nobody

[2022-05-06 13:34] Jolanrensen commented on #151
List.toRDD() would also be nice

[2022-05-12 14:44] Jolanrensen opened #156 "Tuple copy method with changing types"
Currently when calling `copy(_x = ...)` on a Tuple, the new values need to have the same type as the original Tuple. This might however not be what the user expects or needs.

Here is my suggestion with an example for Tuple2:
[code]

[2022-05-13 07:21] devictr commented on #141
Hey @Jolanrensen,
Do you know when the next release will be out 🙂 ? We're looking forward to using it!

[2022-05-13 11:12] Jolanrensen commented on #141
@devictr Very soon! We expect to be able to release version 1.1.0 in about a week.

[2022-05-23 12:08] Jolanrensen commented on #156
Well...
![image](https://user-images.githubusercontent.com/17594275/169815632-0aaed276-2e17-4dfa-ad50-fdcf9dd74834.png)

It can be generated like this, but the file becomes 7+ GB... so enjoy I guess...
But for real, the only way to do this would be to create a compiler plugin that generates the necessary functions on the fly.

[code]

[2022-05-25 19:35] asm0dey commented on #149
It should be mentioned that Spark has its own `uuid()` function. Otherwise, it could work to just call `UUID#toString`

[2022-05-30 11:38] Jolanrensen commented on #141
@devictr https://github.com/Kotlin/kotlin-spark-api/releases/tag/3.2-1.1.0
Took a bit longer with the blogpost and jupyter and all, but it's here :)

[2022-05-30 11:41] devictr commented on #141
Amazing! Thank you :)

[2022-05-30 11:47] Jolanrensen commented on #156
Related youtracks issue: https://youtrack.jetbrains.com/issue/KT-52519

[2022-05-31 12:01] Jolanrensen opened #161 "Test MLib"

[2022-05-31 12:46] Jolanrensen commented on #142
Also look at UDAF https://spark.apache.org/docs/latest/sql-ref-functions-udf-aggregate.html

[2022-05-31 16:05] Jolanrensen commented on #161
https://github.com/Kotlin/kotlin-spark-api/issues/29 is needed to support UDTs for Vectors, Matrices etc.

[2022-06-01 14:00] Jolanrensen opened #163 "Seq creation function"
For creating custom SparkSQL Expressions that use `org.apache.spark.sql.catalyst.expressions.LambaFunction` and possibly in other places in the API a Scala Seq.
Note that the Java API almost never uses Seqs, so this function would only have to be used in edge cases.

Implementation could look like:
[code]

[2022-06-01 15:09] tianyu commented on #163
If I may add a few requests:
* `seqOf()` should return the `Nil` singleton
* There should be functions to prepend and append to a `Seq`.
* There should be a function to concatenate `Seq`s
* It would be nice if you can destructure a `Seq` into its "head" and "rest" elements:
[code]

[2022-06-02 07:56] hawkaa commented on #149
Hi. I'm happy to see this has been added and released.

It does, however, have a name case discrepancy with the built-in function. The original spark function is `foreachBatch` while the one in this repository is `forEachBatch`. I'm not sure if this is intentional or not, but if it's not intentional, it is perhaps better fixing it sooner rather than later.

[2022-06-02 11:12] Jolanrensen commented on #163
Hmm, I'm doubting whether all those extra features would be in the scope of the API...
The goal is to make Spark work great from Kotlin, not to improve Scala-Kotlin interoperability per se.

We decided to add all the helper stuff for Scala Tuples because the Java Spark API explicitly requests Tuples and there are speed benefits for using Tuples all the way through instead of converting other class

[2022-06-02 11:13] asm0dey commented on #163
@tianyu I'm sorry, but it's definitely not on the plate right now. Thing is our goal is to provide idiomatic Kotlin API, not Scala API. Destructuring this way is alien to Kotlin, for Kotlin destructuring of any list-like structure returns elements.

However everything you want is definitely possible to implement as extension methods, for example

[code]
Or for destructuring
[code]

And so on.

[2022-06-02 11:43] Jolanrensen commented on #163
I did btw find a better "direct" translation of Scala's `Seq(a, b, c)` function which includes `Nil` in the `empty()` function:
[code]

[2022-06-02 11:49] Jolanrensen commented on #149
Plus, as a bonus, there is no function overload issue now :) We do have those for `reduce {}` -> `reduceK {}` unfortunately.

[2022-06-02 11:54] Jolanrensen commented on #143
:Okay, maybe it's better to not use delegates after all. The function is only registered after the delegate value is accessed, which does not happen when it's called from SQL for example... Better look for another notation :)

[2022-06-02 12:17] asm0dey commented on #148
@Pihanya mind creating a PR?

[2022-06-07 11:29] Jolanrensen opened #164 "Cannot read file from Jupyter in Datalore"
[code]
As reported in Slack: https://kotlinlang.slack.com/archives/C4W52CFEZ/p1654119134612899

Related issue: https://stackoverflow.com/questions/17265002/hadoop-no-filesystem-for-scheme-file/27532248#27532248

Fix:
Add
[code]
to `withSpark` call

[2022-06-07 11:38] Jolanrensen commented on #164
strangely it works fine in `withSparkStreaming { withSpark(ssc) { ... } }`

[2022-06-08 10:39] #164 closed

[2022-06-14 10:08] Jolanrensen opened #166 "support Spark 3.2.0 and other patch-versions"
Currently only the latest Spark 3.x.y versions are supported.
KotlinReflection.scala is incompatible with other spark versions than its exact own.
We need to set up a plan to (probably) be able to release all versions that users might want.
I expect that say 3.2.1 and 3.2.0 will work without any code change except for the version number. 3.1.x and 3.2.y will require some code change, so we can sti

[2022-06-15 16:00] Jolanrensen commented on #143
https://github.com/Kotlin/kotlin-spark-api/pull/152 handles it :)

[2022-06-17 10:12] Jolanrensen opened #167 "Spark 3.3 support"
https://www.reddit.com/r/apachespark/comments/vduye5/spark_330_released/

[2022-06-17 12:10] #29 closed

[2022-06-20 14:43] Jolanrensen commented on #166
Also, Apache also has Scala 2.13 support for Spark, not sure if we also need to support that and all versions...

[2022-06-21 19:25] Jolanrensen commented on #142
Added a complete new notation, support and examples for UDFs in https://github.com/Kotlin/kotlin-spark-api/pull/152. Will be present in the next update :)

https://github.com/Kotlin/kotlin-spark-api/tree/main#user-defined-functions

[2022-06-21 19:25] #142 closed

[2022-06-21 19:26] Jolanrensen commented on #111
Can I close this?

[2022-06-29 04:04] vagdevik opened #169 "Could not find org.jetbrains.kotlinx.spark:kotlin-spark-api"
I was trying to add the following line in my build.gradle file as said [here](https://github.com/Kotlin/kotlin-spark-api/wiki/Quick-Start-Guide#building-the-application-with-gradle):

[code]
The build.gradle file looks as follows:
[code]

But upon building, it throws the error:
[code]
Please help resolve the issue.

[2022-06-29 17:09] vagdevik commented on #169
It still throws the same error :(

[2022-06-29 18:23] Jolanrensen commented on #169
I'm not sure what's wrong, it's available like that on mavenCentral:
https://mvnrepository.com/artifact/org.jetbrains.kotlinx.spark/kotlin-spark-api-3.2/1.1.0
Maybe another `gradle clean`?

[2022-07-03 07:04] mlin commented on #141
Update...my app is working nicely with kotlin-spark-api v1.1.0 and spark v3.2.1 (thanks! :sunglasses:). However I just tried to deploy it onto an existing spark v3.2.0 cluster and ran into a similar error, which also reproduces if I downgrade my local environment from spark v3.2.1 to v3.2.0.

Obviously I'm going to inquire about upgrading the spark version on the aforementioned production cluster;

[2022-07-03 12:23] Jolanrensen commented on #141
Unfortunately we are indeed tied to patch versions of Spark. This is because we "replace" the core functionality of the catalyst encoding  of classes to add support for Kotlin data classes etc. This means we must match on the byte code level.
We are working, at the moment, to be able to provide exact versions for all Scala and all Spark versions. Most of the time the code base can namely be identi

[2022-07-04 14:19] #149 closed

[2022-07-12 10:33] Jolanrensen opened #170 "isSomething cannot be encoded in data class"
Hey, we have an issue which is better to be fixed. If there's a field called "isSomething" we can't generate encoder for it

[2022-07-12 10:51] #166 closed

[2022-07-12 10:52] Jolanrensen commented on #141
All patch versions will be supported in release 1.2.0! Closing this issue for now :)

[2022-07-12 10:52] #141 closed

[2022-07-13 10:29] #170 closed

[2022-07-15 14:29] Jolanrensen commented on #148
Creating a scala-independent version of the conversions file at https://github.com/Kotlin/kotlin-spark-api/pull/175
uses JCP for the compatibility

[2022-07-17 21:50] Jolanrensen opened #176 "Jupyter 1.2.0"
Add magic notation for new spark and scala versioning. Also spark props in magic might be awesome. (Maybe also truncate etc)

[2022-07-20 09:51] Jolanrensen commented on #163
added for 1.2.0

[2022-07-20 09:51] #163 closed

[2022-07-20 10:31] #148 closed

[2022-07-25 11:03] Jolanrensen commented on #176
done!

[2022-07-25 11:03] Jolanrensen commented on #151
merged

[2022-07-25 11:03] #151 closed

[2022-07-25 14:53] Jolanrensen opened #178 "Explore UDTs for data class encoding"
Is it possible to use that instead of rewriting parts of the scala code?

[2022-07-29 11:32] Jolanrensen commented on #64
Closing this since we don't support Spark 2 anyways anymore

[2022-07-29 11:32] #64 closed

[2022-07-29 11:33] Jolanrensen commented on #114
Closing this, feel free to reopen if you still face the bug

[2022-07-29 11:33] #114 closed

[2022-07-29 14:52] Jolanrensen opened #179 "Explore crossbuild gradle plugin"
https://github.com/prokod/gradle-crossbuild-scala/pull/117

[2022-09-20 08:00] jkylling opened #181 "No way to define data class with Decimal(38, 0) in Spark schema"
There seems to be no way to define data classes where the data class encoder produces a Spark schema with fields of type `Decimal(38, 0)`. The natural approach would be to define a data class with a field of type BigInteger, but this is unsupported by the data class encoder.

This can be seen by the following code
[code]
which throws
`java.lang.IllegalArgumentException: java.math.BigInteger is uns

[2022-09-20 11:14] jkylling commented on #181
Hi! Yes, I've noticed that `java.math.BigDecimal` is supported, but it looks like in the resulting schema the type can only be `Decimal(38, 18)`. It would be useful to be able to specify which decimal type it should be converted to. Perhaps this could be done with some kind of annotation on the type? For instance,
[code]

[2022-09-20 16:18] Jolanrensen commented on #181
I see... So you actually would need a way to give the DataType in case it doesn't exist in or is different from the `knownDataTypes` in the Encoding.kt file...
That's actually an interesting potential addition to the API since we cannot possibly know about all possible types. I'll see what's possible :)
In the meantime you could create a UDT for your class (User Defined Type). There's an example f

[2022-09-21 12:59] jkylling commented on #181
Just support for `BigInteger` would be perfect, and probably cover most use cases. `DecimalType.SYSTEM_DEFAULT()` is `Decimal(38, 18)` right, so something else would be needed for `Decimal(38, 0)`?

[2022-09-21 13:14] jkylling commented on #181
Interesting, this is what is used for `BigDecimal` already? I tried writing a data frame based on data classes with a `BigDecimal` field to a table with schema `Decimal(38, 0)`, but got type errors because `Decimal(38, 18)` could not be converted to `Decimal(38, 0)`. I figured the errors were because the data frame had a schema with `Decimal(38, 18)`.

[2022-09-21 14:05] jkylling commented on #181
It turns out [the particular error](https://stackoverflow.com/questions/62469073/merge-databricks-sql-of-different-decimal-datatypes) I got was related to the code running in the Databricks runtime. Probably because the Databricks runtime has stricter conversion checks than the open source Spark runtime, which creates null values instead of throwing an exception. A minimal example of this behavior

[2022-09-21 15:20] Jolanrensen commented on #181
I'm afraid I don't know enough about this specific part of Spark to give a helpful answer. Maybe you should try StackOverflow for that too :)

[2022-09-22 10:41] Jolanrensen commented on #181
I just played around with it a bit. If you add `10..0` as `BigDecimal` it turns to `null` indeed. You need `BigInteger` encoding support to be able to get `10..02`. (For which I made a pull request https://github.com/Kotlin/kotlin-spark-api/pull/182, it's merged and will appear in GH packages shortly for you to try). After that:
[code]
[code]
[code]
[code]

[2022-09-22 14:00] jkylling commented on #181
Great! Thank you for fixing this! I'll give it a go soon.

[2022-09-23 08:45] asm0dey commented on #179
@Jolanrensen is it implemented on the side of the crossbuild plugin?

[2022-09-23 12:06] Jolanrensen commented on #179
@asm0dey Yes, but I haven't had time to try it in the project here yet, especially since the GH actions approach works so well now

[2022-09-23 12:10] asm0dey commented on #179
Don't you think this could improve the overall performance?

[2022-09-26 11:00] Jolanrensen commented on #179
hmm maybe, but not by much. Only if you want to quickly test a couple of versions locally it would help. There would be no difference with GH actions, since that runs in parallel anyways (and gh actions can also be run locally). Eventually, the crossbuild plugin will be better, but it will cost a lot of time to figure out how to rework the entire build schema again and I'm not sure if that's worth

[2022-10-17 11:42] hawkaa opened #183 "Java 8 support"
Hi @Jolanrensen , and thank you for maintaining this great library!

I'm sorry, but the world that I live in is a world of the past. We, therefore, require Java 8 support in order to use this library.

[code]

Is there any chance the project can be built with Java 8 support? I'm not super familiar with the JDK/JREs and I'm unsure which consequences it brings.

Håkon

[2022-10-18 11:15] Jolanrensen commented on #183
Hmm, yeah still we get something comparable to this issue https://youtrack.jetbrains.com/issue/KT-16493 when running with java 8.
I don't see an obvious solution for this, but feel free to do some trial and error yourself :). The jupyter module needs to have java 11 in any case, but in theory, the rest should be able to run with java 8. That is, when we don't get that error.
I was trying it out in

[2022-10-20 06:31] hawkaa commented on #183
@Jolanrensen thank you so much for checking this out.

I spent quite a lot of time and I found an upgrade path to Java 11 for us, which seems to work. Sorry for bothering you and thanks again!

[2022-10-20 06:31] #183 closed

[2022-10-21 10:27] hawkaa opened #184 "Questions regarding `java.lang.NoSuchMethodError`"
Hi @Jolanrensen ,

I'm sorry toss these issues/questions at you without being able to provide much of assistance myself. I really appreciate you taking your time to help out.

We're in the progress of updating our code to Spark 3.3.0, but we're seeing some errors. We're not experiencing the errors locally in our unit tests, but in Databricks and their runtime 11.2. I can confirm that that runtime

[2022-10-21 10:37] Jolanrensen commented on #184
That theory might definitely be correct. I've heard about Databricks storing Datasets differently as well (stricter than spark itself in some cases). Since we replace some code inside the Spark library itself we need an exact match to be able to call the code. I don't know much about Databricks though, do they have a published package of their spark version? Or can you somehow specify which Spark

[2022-10-21 11:08] Jolanrensen commented on #184
So I've sent an email to Databricks with this issue. Not sure if they can or want to help, but it can't hurt to try, can it? :)

[2022-10-21 11:19] hawkaa commented on #184
Thanks a ton! I'm also in touch with them. Really appreciate it!

[2022-10-21 11:22] Jolanrensen commented on #184
The more people who ask for it, the better :)

[2022-10-26 03:54] bkenn opened #185 "Question About Mapping"
Hello, question for the audience. How should we handle the calculation of fields in a dataset map function? Do we need a manual A -> B class mapping or can we use something generic like the map Row -> Row and then to<ExpectedClass> to handle the field mappings? I can see it becoming tedious to pass in every since property from A -> B.  Some of the classes I need to process have 20+ properties.

Fo

[2022-10-26 11:40] Jolanrensen commented on #185
How would you convert a data class to another data class outside of Spark? I think manually passing the 20+ properties ensures you have the correct names and types all the time. Of course, you could provide some helper function as factory function of the type you want to convert to, which is probably how I would handle it:
[code]
Not sure how sealed classes would help here. Also creating a new row

[2022-11-25 05:27] etika-garry opened #186 "Spark runs on Java 8/11/17, Scala 2.12/2.13, Python 3.7+ and R 3.5+. the library only support Java 11"
Hi

As the title states apache spark supports various runtimes but most notably the runtime for java is 8/11/17. Unfortunately in many places you are stuck with a specific version of java runtime, in my case 8. This produces obviously the below error:

[code]

[2022-11-25 13:59] Jolanrensen commented on #186
I've made attempts to run the Kotlin Spark API with java 8: https://github.com/Kotlin/kotlin-spark-api/issues/183
However, unfortunately, we have too many dependencies that break on java 8.
If you or someone can make it work for java8 I'd gladly add it, since indeed, many Spark applications require 8, however no luck thus far (my attempt: https://github.com/Kotlin/kotlin-spark-api/tree/java8).

 J

[2022-11-29 00:27] etika-garry commented on #186
Hi Jolan,

Thank you for your attempt. I would be more than happy to introduce J8 compatibility but unfortunately as I just started in a new role where "python" is the main solution I cannot invest the time.

It may be something I look at when I have a little down time.

Even so this should probably be under a feature request as I do not think J8 support will drop at any time. Further, as you have